trunk/kitcampusguide/poi-manager/webapp/src/main/webapp/WEB-INF/PoiService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cm.tm.kit.edu/kitcampusguide/poiservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PoiService" targetNamespace="http://cm.tm.kit.edu/kitcampusguide/poiservice/">
	<wsdl:types>
		<xsd:schema xmlns:kitcg="http://cm.tm.kit.edu/kitcampusguide/" targetNamespace="http://cm.tm.kit.edu/kitcampusguide/poiservice/">
			<xsd:element name="CreateRequest">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:Poi"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateResponse">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element maxOccurs="1" minOccurs="1" name="poi" type="tns:PoiWithId">
						</xsd:element>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateFault">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:element name="poi" type="tns:Poi">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteRequest">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="id" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteResponse">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="successMessage" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteFault">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:element name="id" type="xsd:int">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateRequest">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateResponse">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"/>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateFault">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
                        <xsd:element name="faultMessage" type="xsd:string">
							</xsd:element>
						<xsd:element name="poi" type="tns:PoiWithId">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadRequest">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="id" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadResponse">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"/>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadFault">
				<xsd:complexType>
					<xsd:all maxOccurs="1" minOccurs="1">
						<xsd:element name="id" type="xsd:int">
						</xsd:element>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectRequest">
				<xsd:complexType>
					<xsd:choice maxOccurs="1" minOccurs="1">
						<xsd:element name="findByNamesLike" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNames" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNameSuffixes" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNamePrefixes" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByIds" type="tns:Ids">
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="1" minOccurs="1" name="successMessage" type="xsd:string">
						</xsd:element>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="poi" type="tns:PoiWithId"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectFault">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:choice maxOccurs="1" minOccurs="1">
							<xsd:element name="findByNamesLike" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNames" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNameSuffixes" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNamePrefixes" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByIds" type="tns:Ids">
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Names">
				<xsd:sequence maxOccurs="unbounded" minOccurs="1">
					<xsd:element name="name" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ids">
				<xsd:sequence maxOccurs="unbounded" minOccurs="1">
					<xsd:element name="id" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Poi">
				<xsd:all maxOccurs="1" minOccurs="1">
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="categoryName" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="longitude" type="xsd:double"/>
					<xsd:element name="latitude" type="xsd:double"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="PoiWithId">
				<xsd:all maxOccurs="1" minOccurs="1">
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="categoryName" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="longitude" type="xsd:double"/>
					<xsd:element name="latitude" type="xsd:double"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreateRequest">
		<wsdl:part element="tns:CreateRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="CreateResponse">
		<wsdl:part element="tns:CreateResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="CreateFault">
		<wsdl:part element="tns:CreateFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DeleteRequest">
		<wsdl:part element="tns:DeleteRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DeleteResponse">
		<wsdl:part element="tns:DeleteResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DeleteFault">
		<wsdl:part element="tns:DeleteFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="UpdateRequest">
		<wsdl:part element="tns:UpdateRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="UpdateResponse">
		<wsdl:part element="tns:UpdateResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="UpdateFault">
		<wsdl:part element="tns:UpdateFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ReadRequest">
		<wsdl:part element="tns:ReadRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ReadResponse">
		<wsdl:part element="tns:ReadResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="ReadFault">
		<wsdl:part element="tns:ReadFault" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SelectRequest">
		<wsdl:part element="tns:SelectRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SelectResponse">
		<wsdl:part element="tns:SelectResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SelectFault">
		<wsdl:part element="tns:SelectFault" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="PoiService">
		<wsdl:operation name="Create">
			<wsdl:input message="tns:CreateRequest"/>
			<wsdl:output message="tns:CreateResponse"/>
			<wsdl:fault message="tns:CreateFault" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="Delete">
			<wsdl:input message="tns:DeleteRequest"/>
			<wsdl:output message="tns:DeleteResponse"/>
			<wsdl:fault message="tns:DeleteFault" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<wsdl:input message="tns:UpdateRequest"/>
			<wsdl:output message="tns:UpdateResponse"/>
			<wsdl:fault message="tns:UpdateFault" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="Read">
			<wsdl:input message="tns:ReadRequest"/>
			<wsdl:output message="tns:ReadResponse"/>
			<wsdl:fault message="tns:ReadFault" name="fault"/>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<wsdl:input message="tns:SelectRequest"/>
			<wsdl:output message="tns:SelectResponse"/>
			<wsdl:fault message="tns:SelectFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PoiServiceSOAP" type="tns:PoiService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Create">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Create"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Delete">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Delete"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Update"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Read">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Read"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Select"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault name="fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PoiService">
		<wsdl:port binding="tns:PoiServiceSOAP" name="PoiServiceSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
