trunk/kitcampusguide/poi-manager/webapp/src/main/webapp/wsdl/PoiServiceSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://cm.tm.kit.edu/kitcampusguide/poiservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PoiService"
	targetNamespace="http://cm.tm.kit.edu/kitcampusguide/poiservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://cm.tm.kit.edu/kitcampusguide/poiservice/"
			xmlns:kitcg="http://cm.tm.kit.edu/kitcampusguide/">
			<xsd:element name="Create">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:Poi" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="CreateFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:element name="poi" type="tns:Poi">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Delete">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="successMessage" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DeleteFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:element name="id" type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Update">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"></xsd:element>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UpdateFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:element name="poi" type="tns:PoiWithId">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Read">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="poi" type="tns:PoiWithId"></xsd:element>
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ReadFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int">
						</xsd:element>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Select">
				<xsd:complexType>
					<xsd:choice maxOccurs="1" minOccurs="0">
						<xsd:element name="findByNamesLike" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNames" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNameSuffixes" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByNamePrefixes" type="tns:Names">
						</xsd:element>
						<xsd:element name="findByIds" type="tns:Ids">
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectResponse">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="successMessage" type="xsd:string">
						</xsd:element>
						<xsd:sequence maxOccurs="unbounded" minOccurs="0">
							<xsd:element name="poi" type="tns:PoiWithId"></xsd:element>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SelectFault">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="faultMessage" type="xsd:string">
						</xsd:element>
						<xsd:choice>
							<xsd:element name="findByNamesLike" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNames" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNameSuffixes" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByNamePrefixes" type="tns:Names">
							</xsd:element>
							<xsd:element name="findByIds" type="tns:Ids">
							</xsd:element>
						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="Names">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" maxOccurs="unbounded"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Ids">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" maxOccurs="unbounded"
						minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Poi">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="categoryName" type="xsd:string"></xsd:element>
					<xsd:element name="description" type="xsd:string"></xsd:element>
					<xsd:element name="longitude" type="xsd:double"></xsd:element>
					<xsd:element name="latitude" type="xsd:double"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PoiWithId">
				<xsd:sequence maxOccurs="1" minOccurs="1">
					<xsd:element name="id" type="xsd:int"></xsd:element>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="categoryName" type="xsd:string"></xsd:element>
					<xsd:element name="description" type="xsd:string"></xsd:element>
					<xsd:element name="longitude" type="xsd:double"></xsd:element>
					<xsd:element name="latitude" type="xsd:double"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Create">
		<wsdl:part name="parameters" element="tns:Create" />
	</wsdl:message>
	<wsdl:message name="CreateResponse">
		<wsdl:part name="parameters" element="tns:CreateResponse" />
	</wsdl:message>
	<wsdl:message name="CreateFault">
		<wsdl:part name="parameters" element="tns:CreateFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Delete">
		<wsdl:part name="parameters" element="tns:Delete"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteResponse">
		<wsdl:part name="parameters" element="tns:DeleteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="DeleteFault">
		<wsdl:part name="parameters" element="tns:DeleteFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Update">
		<wsdl:part name="parameters" element="tns:Update"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateResponse">
		<wsdl:part name="parameters" element="tns:UpdateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UpdateFault">
		<wsdl:part name="parameters" element="tns:UpdateFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Read">
		<wsdl:part name="parameters" element="tns:Read"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadResponse">
		<wsdl:part name="parameters" element="tns:ReadResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ReadFault">
		<wsdl:part name="parameters" element="tns:ReadFault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Select">
		<wsdl:part name="parameters" element="tns:Select"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectResponse">
		<wsdl:part name="parameters" element="tns:SelectResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SelectFault">
		<wsdl:part name="parameters" element="tns:SelectFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PoiService">
		<wsdl:operation name="Create">
			<wsdl:input message="tns:Create"></wsdl:input>
			<wsdl:output message="tns:CreateResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:CreateFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Delete">
			<wsdl:input message="tns:Delete"></wsdl:input>
			<wsdl:output message="tns:DeleteResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:DeleteFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<wsdl:input message="tns:Update"></wsdl:input>
			<wsdl:output message="tns:UpdateResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:UpdateFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Read">
			<wsdl:input message="tns:Read"></wsdl:input>
			<wsdl:output message="tns:ReadResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:ReadFault"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<wsdl:input message="tns:Select"></wsdl:input>
			<wsdl:output message="tns:SelectResponse"></wsdl:output>
			<wsdl:fault name="fault" message="tns:SelectFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PoiServiceSOAP" type="tns:PoiService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="Create">
			<soap:operation
				soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Create" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Delete">
			<soap:operation
				soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Delete" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<soap:operation
				soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Update" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Read">
			<soap:operation soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Read" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Select">
			<soap:operation
				soapAction="http://cm.tm.kit.edu/kitcampusguide/poiservice/Select" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="fault">
				<soap:fault use="literal" name="fault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PoiService">
		<wsdl:port binding="tns:PoiServiceSOAP" name="PoiServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
